In [1]:
import numpy as np
import pandas as pd
import pickle


from querents import Querent
#from bidders import AnnealingBidder
import bidders


data_fp = '/mnt/c/data/b2w/run4'
model_fp = '/mnt/c/data/b2w/model.p'
progress_fp = base_dir = '/mnt/c/data/b2w/results.p'

In [2]:
## Construct our dependencies for use in the bidder...
model = pickle.load(open(model_fp, 'rb'))
#qr = Querent(data_fp, 'Adag56VLl9B1ragWqxC8s4rRaHICvAj2')
qr = Querent(data_fp, 'PDqYeIvIEBh0VvvJtA5ofyF2rbAH4Nti')
state_list = pickle.load(open(progress_fp, 'rb'))

In [3]:
## Now instantiate a bidder
bidder = bidders.AnnealingBidder(model, qr, timescale = 100, initial_increment = 0.10)

In [4]:
## Execute a batch of bids... then inspect the results
bidder.execute_bids(20)
state_list.append(qr.get_progress())
pickle.dump(state_list, open(progress_fp, 'wb'))

In [5]:
cst = qr.customers
wins = cst.loc[cst.win == True, :]
loss = cst.loc[cst.win == False, :]
state_list[-2], state_list[-1]

({'bids_won': 401,
  'error_message': None,
  'result': 'success',
  'total_amount_spent': 674.736676124358,
  'total_bids': 2500,
  'total_net_profit': 39.2633238756411,
  'total_profit': 714.0,
  'total_return_on_amount_spent': 0.0581905879211531},
 {'bids_won': 406,
  'error_message': None,
  'result': 'success',
  'total_amount_spent': 680.454278707997,
  'total_bids': 2520,
  'total_net_profit': 51.5457212920026,
  'total_profit': 732.0,
  'total_return_on_amount_spent': 0.075751924713993})

In [6]:
wins.tail(10)

,age,bid,day_of_week,error_message,gender,income,marital_status,profit,result,user_id,user_index,win
2487,63,1.553990,Saturday,NaN,M,133307,M,0.0,success,ebaee37ab9b086a131e393d3bebbdbb0,2487,True
2489,65,0.897026,Monday,NaN,F,87407,S,0.0,success,4eb058d3526d22ea7faaab28add2d46c,2489,True
2494,44,1.717925,Saturday,NaN,F,34197,M,0.0,success,0921b39d7575ffdff8a7f92bb049ac68,2494,True
2496,40,0.987690,Monday,NaN,F,20236,M,8.0,success,f55942749696f798edc8d316add768ce,2496,True
2497,61,1.118907,Tuesday,NaN,M,105602,S,0.0,success,6520ed1d14282a26a512b3fb44070108,2497,True
2502,40,1.288086,Sunday,None,M,64291,M,0.0,success,6f82e3696cd1abc843ec92026b903ed7,2502,True
2503,50,1.106690,Monday,None,F,92348,M,18.0,success,470ab0c4679a22381dcfd3e07a9649d3,2503,True
2504,59,0.696633,Tuesday,None,M,31878,S,0.0,success,d7bad9bcf0161ef936cb389029b95725,2504,True
2513,49,1.724000,Thursday,None,F,69576,S,0.0,success,9fd6989e18fc03d84e3178da1561b43a,2513,True
2517,53,0.902194,Monday,None,M,88252,M,0.0,success,081f7790111478ff8ecc6edfa0fe334f,2517,True

In [ ]:
cst.tail(10)