In [1]:
import numpy as np
import pandas as pd
import pickle


from querents import Querent
#from bidders import AnnealingBidder
import bidders


data_fp = '/mnt/c/data/b2w/run4'
model_fp = '/mnt/c/data/b2w/model.p'
progress_fp = base_dir = '/mnt/c/data/b2w/results.p'

In [2]:
## Construct our dependencies for use in the bidder...
model = pickle.load(open(model_fp, 'rb'))
#qr = Querent(data_fp, 'Adag56VLl9B1ragWqxC8s4rRaHICvAj2')
qr = Querent(data_fp, 'PDqYeIvIEBh0VvvJtA5ofyF2rbAH4Nti')
state_list = pickle.load(open(progress_fp, 'rb'))

In [3]:
## Now instantiate a bidder
bidder = bidders.AnnealingBidder(model, qr, timescale = 100, initial_increment = 0.10)

In [10]:
qr.customers.tail()

,age,bid,day_of_week,error_message,gender,income,marital_status,profit,result,user_id,user_index,win
4207,48,1.823000,Thursday,NaN,F,121234,M,0.0,success,d6161f851082f06322c8959b8929f7c9,4207,False
4208,44,1.918000,Friday,NaN,F,125984,S,0.0,success,d63103022e5512c2aa28d162a3701169,4208,False
4209,51,1.064168,Saturday,NaN,F,24769,M,0.0,success,ba3cb10043d277d45701f5fcd08a091b,4209,False
4210,22,1.956000,Sunday,NaN,F,96031,S,0.0,success,69dc740007cf73a9fee85ac8af2db7d2,4210,False
4211,32,0.980000,Monday,NaN,M,124676,S,0.0,success,fc4227ba8858ca45ee4af7b030487468,4211,False

In [52]:
## Execute a batch of bids... then inspect the results
bidder.execute_bids(1)
state_list.append(qr.get_progress())
pickle.dump(state_list, open(progress_fp, 'wb'))

AttributeError: 'dict' object has no attribute 'index'

In [47]:
cst = qr.customers
wins = cst.loc[cst.win == True, :]
loss = cst.loc[cst.win == False, :]
state_list[-2], state_list[-1]

({'bids_won': 685,
  'error_message': None,
  'result': 'success',
  'total_amount_spent': 1011.11290454199,
  'total_bids': 4900,
  'total_net_profit': 60.8870954580062,
  'total_profit': 1072.0,
  'total_return_on_amount_spent': 0.0602178996870645},
 {'bids_won': 697,
  'error_message': None,
  'result': 'success',
  'total_amount_spent': 1027.50114066673,
  'total_bids': 5000,
  'total_net_profit': 69.4988593332698,
  'total_profit': 1097.0,
  'total_return_on_amount_spent': 0.0676387174501559})

In [48]:
wins.tail(10)

,age,bid,day_of_week,error_message,gender,income,marital_status,profit,result,user_id,user_index,win
4914,45,1.177000,Tuesday,None,F,33278,M,0.0,success,21bd5193cc34aed28f65b0aee75333af,4914,True
4941,58,1.415000,Monday,None,F,134108,S,0.0,success,52f122da84ca3bb9a8b2ba1ceeebfe29,4941,True
4955,27,1.937000,Monday,None,M,90113,S,17.0,success,5acc5715a0baba3120c5a6eb7bec6ffb,4955,True
4958,24,1.878000,Thursday,None,M,20633,M,0.0,success,f9b0ce69d4d67eface31cff61c204a3f,4958,True
4964,41,1.844000,Wednesday,None,M,65284,S,0.0,success,b875ae494d533a09e182701202e9f8f6,4964,True
4969,41,1.592000,Monday,None,F,83800,S,0.0,success,707f25ec32fb26c79d35d5be4774ffdd,4969,True
4980,52,0.864233,Friday,None,M,24883,M,0.0,success,c569a09558c0a984e37c573f9719b8d3,4980,True
4983,48,0.905207,Monday,None,M,91110,M,0.0,success,055808be2e81bf8d3c717881a2365d2c,4983,True
4990,40,1.200500,Monday,None,F,61369,S,0.0,success,1973a5787d0bf3669f26b43430a284b2,4990,True
4991,26,0.843606,Tuesday,None,M,26677,M,0.0,success,e4e694b816fe8ae303610e6b1ec13072,4991,True

In [49]:
cst.tail(10)

,age,bid,day_of_week,error_message,gender,income,marital_status,profit,result,user_id,user_index,win
4991,26,0.843606,Tuesday,None,M,26677,M,0.0,success,e4e694b816fe8ae303610e6b1ec13072,4991,True
4992,56,1.856000,Wednesday,None,F,139463,M,0.0,success,3a3601ca2be28bc3b9c951ed26751e26,4992,False
4993,45,1.710215,Thursday,None,F,38791,M,0.0,success,6fcfb79b09312c39ac74dab7e637453d,4993,False
4994,27,2.067000,Friday,None,M,102246,S,0.0,success,6f25f9123b8cd1c2cc90f9b4268b8dfc,4994,False
4995,41,1.862000,Saturday,None,F,71023,S,0.0,success,14aa1027272e05e02a294ccaa3f6335a,4995,False
4996,28,1.582000,Sunday,None,M,122794,S,0.0,success,a80a1f6c6c903c3f404f0287147fce75,4996,False
4997,29,1.035942,Monday,None,M,46070,S,0.0,success,7d85d7f85a3768e99845d913c83c1049,4997,False
4998,27,1.540000,Tuesday,None,M,88924,S,0.0,success,886024dbd295589f3bbb3596d973cad6,4998,False
4999,25,2.040000,Wednesday,None,F,34650,S,0.0,success,3d6cee443bf2dfbae055e6c2fabca023,4999,False
5000,64,1.312850,Thursday,None,F,109413,S,0.0,success,cc3c47b780a94b1894632fcab76cd206,5000,False

In [53]:
qr.get_next_user()

{'error_message': 'User limit has been reached', 'result': 'failure'}