In [35]:
import os
import pandas as pd
import numpy as np

data_fp = '/mnt/c/data/b2w/'
historic_fp = data_fp + 'past_bids.csv'

In [11]:
historic = pd.read_csv(historic_fp)
historic = historic.fillna({'profit': 0})

In [12]:
historic.head()

  gender marital_status  age  income day_of_week clickthrough purchase  profit
0      F              S   39   45706      Sunday         True     True    20.0
1      M              S   62  114390      Monday        False    False     0.0
2      M              M   62  109143     Tuesday        False    False     0.0
3      F              M   46   53978   Wednesday        False    False     0.0
4      F              S   54   92592    Thursday         True     True     5.0

In [36]:
#foo = historic.head()
bar = pd.DataFrame(columns = ['a', 'b'], dtype = [np.str, np.str])

TypeError: data type not understood

A    object
B    object
dtype: object

  gender marital_status  age  income day_of_week clickthrough purchase  profit
0      F              S   39   45706      Sunday         True     True    20.0
1      M              S   62  114390      Monday        False    False     0.0
2      M              M   62  109143     Tuesday        False    False     0.0
3      F              M   46   53978   Wednesday        False    False     0.0
4      F              S   54   92592    Thursday         True     True     5.0